.wrapper .profile {
  margin: 92px 0;
  width: 100%;
  height: auto;
}

.wrapper .profile h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.wrapper .profile h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--black);
}

.wrapper .profile .profile-card {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid #777777;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.profile .profile-card .top-profile {
  margin: 25px;
  background: var(--dark-blue);
  height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  padding: 12px;
}

.profile .profile-card .top-profile .circle-profile-photo {
  border-radius: 50%;
  padding: 12px;
}
.profile .profile-card .top-profile h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: #ffffff;
  margin: 0;
  padding-top: 0;
  padding-left: 12px;
  padding-bottom: 12px;
}

.profile .profile-card .body-profile {
  margin-left: 37px;
  display: flex;
  gap: 80px;
}

.profile .profile-card .body-profile .left {
  position: relative;
}

.profile .profile-card .body-profile .left .detail {
  width: 270px;
  height: 55px;
  background: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--dark-blue);
  cursor: pointer;
  border: 1px solid var(--dark-blue);
}
.profile .profile-card .body-profile .left .active {
  width: 270px;
  height: 55px;
  background: var(--dark-blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--white);
  cursor: pointer;
}

.profile .profile-card .body-profile .left .detail.exit {
  position: absolute;
  top: 80%;
  background: var(--white);
  color: #ff3e3e;
  border: 1px solid #ff3e3e;
  gap: 10px;
}
.profile .profile-card .body-profile .left .detail.exit:hover {
  background: #ff3e3e;
  color: var(--white);
}

.profile .profile-card .body-profile .right {
  width: 720px;
  height: auto;
  background: #ffffff;
  border: 2px solid #777777;
  border-radius: 10px;
  padding-left: 12px;
  margin-bottom: 32px;
}

.profile .profile-card .body-profile .right .first.hidden {
  display: none;
}

.profile .profile-card .body-profile .right .second.hidden {
  display: none;
}

.profile .profile-card .body-profile .right form input {
  width: 680px;
  height: 45px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding: 12px;
}

.profile .profile-card .body-profile .right .submit {
  padding: 12px;
  background: var(--dark-blue);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 24px;
  margin-left: 70%;
  width: auto;
  text-align: center;
}

.profile .profile-card .body-profile .right .third {
  margin: 12px;
}
.profile .profile-card .body-profile .right .third.hidden {
  display: none;
}
.profile .profile-card .body-profile .right .third .booking {
  width: 650px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 24px;
}
.profile .profile-card .body-profile .right .third .booking.inactive h3 {
  background: var(--light-grey);
  color: var(--black);
}
.profile .profile-card .body-profile .right .third .menu {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 24px;
}
.profile .profile-card .body-profile .right .third .menu a {
  width: 135px;
  height: 30px;
  text-decoration: none;
  border: 1px solid var(--light-blue);
  text-align: center;
  border-radius: 10px;
  color: var(--dark-blue);
  cursor: pointer;
}
.profile .profile-card .body-profile .right .third .menu a.active {
  background: var(--dark-blue);
  border-radius: 10px;
  color: var(--white);
}
.profile .profile-card .body-profile .right .third .menu a:hover {
  background: var(--dark-blue);
  border-radius: 10px;
  color: var(--white);
}

.profile .profile-card .body-profile .right .third .booking .head-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.profile .profile-card .body-profile .right .third .booking.inactive.notshow {
  display: none;
}

.profile
  .profile-card
  .body-profile
  .right
  .third
  .booking
  .head-info
  .info-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.profile
  .profile-card
  .body-profile
  .right
  .third
  .booking
  .head-info
  .info-left
  span {
  color: #777777;
}

.profile .profile-card .body-profile .right .third .booking .foot-info a {
  text-decoration: none;
}

.profile
  .profile-card
  .body-profile
  .right
  .third
  .booking
  .foot-info
  .more-info:hover {
  background: var(--light-grey);
  transition: 0.2s ease-in-out;
}
.profile .profile-card .body-profile .right .third .booking .head-info .price {
  margin-right: 24px;
}
.profile .profile-card .body-profile .right .third .booking h3 {
  background: var(--dark-blue);
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  height: 60px;
  border-radius: 10px;
  padding-left: 12px;
  text-align: justify;
  padding-top: 12px;
}
.profile .profile-card .body-profile .right .third .booking .foot-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 12px;
  margin-top: 0;
}
.profile .profile-card .body-profile .right .third .booking .foot-info h5 {
  padding: 5px;
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 10px;
  width: auto;
  text-align: center;
}
.profile
  .profile-card
  .body-profile
  .right
  .third
  .booking
  .foot-info
  .inactive {
  background: var(--light-grey);
  color: var(--black);
  width: auto;
}
.profile
  .profile-card
  .body-profile
  .right
  .third
  .booking
  .foot-info
  .more-info {
  padding: 5px;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  width: 80px;
  border: 1px solid var(--black);
  text-align: center;
}
