:root {
  --dark-blue: #316fff;
  --grey: #777777;
  --white: #ffffff;
  --black: #000000;
  --light-blue: #2c63e3;
  --light-grey: #d9d9d9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn {
  border-radius: 12px;
  width: 104px;
  height: 49px;
  padding: 13px 12px;
}

.btn.light {
  border-radius: 12px;
  width: 250px;
  height: 49px;
  padding: 13px 12px;
  border-radius: 24px;
}

.btn.pesan {
  color: var(--dark-blue);
  background: var(--white);
  text-align: center;
}

.btn.blue {
  color: var(--white);
  background: var(var(--dark-blue));
  padding: 13px 12px;
  width: 104px;
  height: 49px;
  border: solid var(--white) 2px;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: var(--dark-blue);
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
  padding: 11.5px 0;
}

.wrapper .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .nav img {
  width: 159px;
  height: 47px;
}

.wrapper .nav .menu-navbar ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

ul li {
  text-decoration: none;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
}

.home-page {
  width: 100%;
  margin: 92px 0;
}

.profile-icon {
  border-radius: 50%;
  padding: 12.5px 24.5px;
  background: var(--light-grey);
}

.body-wrapper {
  max-width: 1134px;
  margin: 60px auto;
}

.body-wrapper .welcoming-words {
  text-align: center;
}

.body-wrapper .welcoming-words h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 44px;
  line-height: 66px;
  color: #316fff;
}

.body-wrapper .welcoming-words h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.home-menus {
  max-width: 1134px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 62px;
}

.home-menu {
  background: #ffffff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 525px;
  height: 433px;
  left: 1003px;
  top: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.home-menu:hover {
  background: var(--light-grey);
}

.home-menu img {
  padding: 23px 18px 15px 15px;
}

.home-menu h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;

  text-align: center;
  color: #000000;
  margin: 0;
}

.home-menu p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;

  color: #000000;
  padding: 0 90px;
}

.home-menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 32px;
  background: #316fff;
  border-radius: 20px;
  margin-bottom: 54px;
}

footer {
  margin-top: 100px;
  background: #f9f9f9;
}

.footer-wrapper {
  max-width: 943px;
  margin: 0 auto;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
}

.footer-wrapper .headline-footer {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper .headline-footer h4 {
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.logo-saraga.footer img {
  width: 190px;
  height: 56px;
}

.payment-support {
  max-width: 175px;
}

.footer-wrapper .footer-description h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom .copyright h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #969696;
  text-align: center;
}
.footer-bottom .copyright a img {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-right: 10px;
}
.footer-bottom .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom .social-media a img {
  margin: 0 10px;
}

.wrapper .list-fasilitas {
  padding: 92px 0;
}
.wrapper .list-fasilitas a {
  text-decoration: none;
}

.wrapper .backward {
  display: flex;
  margin: 0;
}

.wrapper .back {
  text-decoration: none;
}

.wrapper .backward h4 {
  padding-left: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #777777;
  margin: 0;
}

.wrapper .list-fasilitas h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 48px;
  /* line-height: 72px; */
  color: #000000;
  margin: 9px 0;
}

.wrapper .list-fasilitas .filter-menus {
  display: flex;
  gap: 47px;
  margin-bottom: 0px;
  cursor: pointer;
}
.wrapper .list-fasilitas .filter-menus .filter.active {
  background: var(--light-blue);
  color: var(--white);
}

.wrapper .list-fasilitas .filter-menus .filter:hover {
  background: var(--light-blue);
  color: var(--white);
}

.wrapper .list-fasilitas .filter-menus .filter h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  transform: translateY(-40%);
  position: absolute;
}

.wrapper .list-fasilitas .filter-menus .filter {
  background: white rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--black);
  border-radius: 100px;
  padding: 0px 25px;
  width: 130px;
  height: 52px;
  color: #000000;
  position: relative;
}

.wrapper .list-fasilitas .fasilitas-cards {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper .list-fasilitas .fasilitas-cards .fasilitas-card.hidden {
  display: none;
}

.wrapper .list-fasilitas .fasilitas-cards .fasilitas-card {
  position: relative;
  background: white rgba(0, 0, 0, 0.25);
  width: 327px;
  height: 352px;
  border-radius: 8px;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  margin-top: 67px;
  transition: 0.5s ease;
}
.wrapper .list-fasilitas .fasilitas-cards .fasilitas-card:hover {
  background: var(--light-grey);
}

.wrapper .list-fasilitas .fasilitas-cards .fasilitas-card img {
  position: absolute;
  left: 84px;
  right: 84px;
  top: 50px;
  bottom: 50px;
}

.wrapper .list-fasilitas .fasilitas-cards .fasilitas-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--white);
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: var(--dark-blue);
  padding: 12px 22px;
  border-radius: 8px;
}

.wrapper .ticketing a {
  text-decoration: none;
}

.wrapper .ticketing {
  padding: 92px 0;
}

.wrapper .ticketing .menu-selection {
  display: flex;
  justify-content: space-between;
  margin: 9px 0;
  width: 100%;
  height: 100vh;
}

.wrapper .ticketing .menu-selection .card-menu {
  width: 481px;
  height: 571px;
  background: #ffffff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.wrapper .ticketing .menu-selection .card-menu .menu-images {
  height: 286px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #999999 100%);
  border-radius: 10px 10px 0px 0px;
  /* position: relative; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .ticketing .menu-selection .card-menu h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #316fff;
  padding: 10px 21px;
  margin: 0;
}
.wrapper .ticketing .menu-selection .card-menu p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
  padding: 10px 21px;
  margin: 0;
}

.wrapper .ticketing .menu-selection .card-menu .btn.action {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
  background: var(--light-blue);
  margin: 0;
  padding: 14px 19px;
  border-radius: 10px;
  width: 220px;
  height: 60px;
  position: absolute;
  left: 130px;
  top: 83%;
  color: #ffffff;
}

.wrapper .ticketing .menu-selection .card-menu .btn.action h4 {
  text-align: center;
  transform: translateY(-83%);
  font-weight: 300;
}

.wrapper .ticket {
  padding: 92px 0;
}
.wrapper .ticket a {
  text-decoration: none;
}

.wrapper .ticket h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;

  color: #316fff;
}

.wrapper .ticket .ticket-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .ticket .ticket-types .ticket-card {
  width: 268px;
  height: 305px;
  background: #ffffff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
}

.wrapper .ticket .ticket-types .ticket-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #316fff;
  padding-top: 10px;
  margin: 0;
}
.wrapper .ticket .ticket-types .ticket-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .ticket .ticket-types .ticket-card .rect-cart {
  background: #316fff;
  border-radius: 10px;
  width: 128px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.register-page {
  margin-top: 92px;
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
}

.register-page .components {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-page .left.login img {
  width: 600px;
  height: 400px;
}

.register-page .left.register img {
  width: 600px;
  height: 270px;
}

.register-page .right .card-register {
  width: 462px;
  background: #ffffff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.register-page .right .card-register h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;
}
.register-page .right .card-register h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.register-page .right .card-register h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin-top: 0;
}

.register-page .right .card-register img {
  width: 159px;
  height: 47px;
  border-radius: 10px;
  margin: 32px;
}
.register-page .right .card-register .content {
  margin-left: 32px;
  margin-top: 0;
}
.register-page .right .card-register h4 {
  margin-left: 32px;
  margin-bottom: 4px;
}
.register-page .right .card-register .sso {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.register-page .right .card-register .sso .sso-btn {
  width: 400px;
  height: 45px;
  background: #316fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.register-page .right form input {
  width: 400px;
  height: 45px;
  background: #ffffff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding-left: 6px;
  color: rgba(0, 0, 0, 0.5);
}

.register-page .right form {
  margin-top: 0;
  padding-top: 0;
  margin-left: 32px;
}

.register-page .right .action-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.register-page .right .action-login span {
  color: var(--dark-blue);
  text-decoration: underline;
}

.register-page .right .action-login.register::after {
  content: "";
  background: var(--black);
  height: 2px;
  width: 85%;
  position: absolute;
  top: 85%;
  left: 32px;
}

.register-page .right .action-login a {
  text-decoration: none;
  margin: 32px;
  color: var(--black);
}
.register-page .right .action-go {
  width: 111px;
  height: 45px;
  background: #316fff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.register-page .right .end-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.register-page .right .end-action a {
  text-decoration: none;
}

.register-page .right .action-go.create {
  width: 278px;
  height: 45px;
  background: #316fff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  margin-bottom: 32px;
}

.explore-details {
  margin-top: 92px;
  width: 100%;
  height: 100vh;
}

.explore-details a {
  text-decoration: none;
}

.explore-details .content {
  margin-top: 12px;
  margin-bottom: 32px;
}

.explore-details .content h3,
.explore-details .content p {
  margin: 16px 0;
}

.explore-details .content .inner-content a {
  color: var(--white);
  background: var(--dark-blue);
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.explore-details .schedule {
  display: flex;
  flex-direction: column;
}

.explore-details .schedule .schedule-content {
  display: flex;
  gap: 60px;
  align-items: center;
  text-align: center;
  margin: 0;
}

.explore-details .schedule .schedule-content h4 {
  font-weight: 600;
}

.explore-details .schedule .schedule-content h5 {
  font-weight: 500;
}

.swiper {
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

.ticket-details {
  margin: 92px 0;
}

.ticket-details h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  text-align: justify;
  color: #316fff;
}

.ticket-details .content {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  position: relative;
}
.ticket-details .content h5,
.ticket-details .content .counter h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
}

.ticket-details .content h5 span {
  color: #ff0000;
}

.ticket-details .content .counter {
  display: flex;
  gap: 35px;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 80%;
  text-align: center;
}

.ticket-details .info {
  position: relative;
}

.ticket-details .info::after {
  content: "";
  position: absolute;
  width: calc(100% + 25px);
  height: 1px;
  background: #000000;
  top: calc(100% + 90px);
}

.ticket-details #price-details {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 140px;
}

.ticket-details .checkout-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
  height: 50px;
}

.ticket-details .checkout-btn #checkout {
  background: #316fff;
  border-radius: 10px;
  padding: 0px;
  margin: 0;
  width: 550px;
}

.ticket-details .checkout-btn #checkout h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  transform: translateY(-50%);
}

.wrapper .action-password {
  margin: 92px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .action-password .content {
  width: 50%;
  height: 262px;
  background: #ffffff;
  border: 1px solid #777777;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.wrapper .action-password .content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  position: relative;
}

.wrapper .action-password .content h3::after {
  content: "";
  background: #000000;
  width: 100%;
  height: 0.5px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}

.wrapper .action-password .content h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  text-align: justify;
}
.wrapper .action-password .content h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}

.wrapper .action-password .content .info {
  display: flex;
  margin-top: 24px;
  gap: 2px;
  margin-bottom: 0;
  position: relative;
}

.wrapper .action-password .content .info::after {
  content: "";
  background: #000000;
  width: 100%;
  height: 0.5px;
  position: absolute;
  top: 80%;
  left: 0;
}

.wrapper .action-password .content .info span {
  color: var(--dark-blue);
}
.wrapper .action-password .content .action-back {
  position: absolute;
  top: 65%;
  left: 40%;
  cursor: pointer;
}
.wrapper .action-password .content .action-back .back {
  padding: 0 24px;
  height: 50px;
  width: 130px;
  background: var(--light-grey);
  border-radius: 10px;
}
.wrapper .action-password .content .action-back .back h4 {
  color: var(--black);
  text-align: center;
  transform: translateY(50%);
  font-weight: 600;
}

.wrapper .action-password .content form {
  display: flex;
  justify-content: center;
}

.wrapper .action-password .content form input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  width: 90%;
  padding: 8px;
  border-radius: 10px;
}

.wrapper .action-forget-pass {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin: 24px 0;
}

.wrapper .action-forget-pass .action h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding: 3px 12px;
  text-align: center;
}

.wrapper .action-forget-pass .btn {
  background: var(--dark-blue);
  padding: 3px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper .action-forget-pass .btn.cancel {
  background: var(--grey);
}

.wrapper .action-forget-pass .btn.search h4 {
  color: var(--white);
}
