:root {
  --dark-blue: #316fff;
  --grey: #777777;
  --white: #ffffff;
  --black: #000000;
  --light-blue: #2c63e3;
  --light-grey: #d9d9d9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn {
  padding: 13px 12px;
  background: var(--white);
  border-radius: 12px;
}

.btn.pesan {
  color: var(--dark-blue);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: var(--dark-blue);
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
  padding: 11.5px 0;
}

.wrapper .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .nav img {
  width: 159px;
  height: 47px;
}

.wrapper .nav .menu-navbar ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

ul li {
  text-decoration: none;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
}

.profile-icon {
  border-radius: 50%;
  padding: 12.5px 24.5px;
  background: var(--light-grey);
}

.body-wrapper {
  max-width: 1134px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-wrapper .welcoming-words {
  text-align: center;
}

.body-wrapper .welcoming-words h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 44px;
  line-height: 66px;
  color: #316fff;
}

.body-wrapper .welcoming-words h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.home-menus {
  max-width: 1134px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 62px;
}

.home-menu {
  background: #ffffff;
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 525px;
  height: 433px;
  left: 1003px;
  top: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home-menu img {
  padding: 23px 18px 15px 15px;
}

.home-menu h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;

  text-align: center;
  color: #000000;
  margin: 0;
}

.home-menu p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;

  color: #000000;
  padding: 0 90px;
}

.home-menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 32px;
  background: #316fff;
  border-radius: 20px;
  margin-bottom: 54px;
}

footer {
  margin-top: 100px;
  background: #f9f9f9;
}

.footer-wrapper {
  max-width: 943px;
  margin: 0 auto;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
}

.footer-wrapper .headline-footer {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper .headline-footer h4 {
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.logo-saraga.footer img {
  width: 190px;
  height: 56px;
}

.payment-support {
  max-width: 175px;
}

.footer-wrapper .footer-description h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom .copyright h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #969696;
  text-align: center;
}
.footer-bottom .copyright a img {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-right: 10px;
}
.footer-bottom .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom .social-media a img {
  margin: 0 10px;
}
